<div class="4u 12u(narrower)">
    <div id="sidebar">

        <!-- Sidebar -->

        <section>
            <h3>Account Links</h3>
            <ul class="links">
                <li>@Html.ActionLink("Gallery Manager", "Index", "GalleryManager")</li>
                <li>@Html.ActionLink("Edit Profile", "EditProfile", "Account")</li>
                <li><a href="@Url.Action("logout", "Account")">Log Out</a></li>
            </ul>
        </section>

    </div>
</div>
