
@{
    ViewBag.Title = "ArtConspiracy | Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="button">Log In</button>
    </p>
}

<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Controllers/AccountController.cs" target="_blank" class="button">View AccountController.cs on GitHub</a>
<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Views/Account/Login.cshtml" target="_blank" class="button">View Login.cshtml on GitHub</a>
