@{
    ViewBag.Title = "ArtConspiracy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Art Conspiracy!</h2>
<p>The Art Conspiracy was a website I created for artists to display online portfolios of their work in the early to mid-2000s.  I've recreated a simplified version of it in here to demonstrate fundamental skills in MVC development, including:
<ul>
    <li>&bull; Understanding of MVC architecture</li>
    <li>&bull; A database-first Entity framework</li>
    <li>&bull; User registration and authentication using User.Identity/oWin</li>
    <li>&bull; Data retrieval via a SQL Server stored procedure</li>
    <li>&bull; CRUD functionality through a CMS backend</li>
    <li>&bull; File upload and management</li>
    <li>&bull; Razor HTML Helpers</li>
    <li>&bull; jQuery lightboxes</li>
</ul>
    At various points in the app I link to the code involved on GitHub so you can look under the hood from page to page. 
</p>
<p>All of the controllers and views were created from empty templates, no Visual Studio shortcuts were used with the exception of generating the Entity Framework from an existing SQL Server.</p>
<p>
<b>Note:</b> Due to focusing mostly on functionality in a short amount of time, the aesthetics of the site are not polished and made a bit on-the-fly (inline CSS, some skipped validation, static footer placeholder, etc.)
</p>
<p>
<b>TL;DR:</b> Here's a website I made to show you what I can do.  Register and have at it!
    <br/><br/>
    - John
</p>
<a href="https://github.com/johndespirito/ArtConspiracy" target="_blank" class="button">View entire GitHub Project</a>



