@model ArtConspiracy.Models.ArtPiece

@{
    ViewBag.Title = "ArtConspiracy | Delete Gallery Item";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<h2>Are you sure you want to delete @(Model.PieceTitle)?</h2>

<img src="@Model.imgURL" style="max-width:250px;" />
<br/><br/>
@using (Html.BeginForm())
{
    <button type="submit" value="Delete" class="button large">Delete</button> 
    <button type="button" class="button" onclick="document.location = '/GalleryManager';">Cancel</button>
}


<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Controllers/GalleryManagerController.cs" target="_blank" class="button">View GalleryManagerController.cs on GitHub</a>
<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Views/GalleryManager/DeleteGalleryItem.cshtml" target="_blank" class="button">View DeleteGalleryItem.cshtml on GitHub</a>


